node_modules

dist

coverage

.env

*.log

ecosystem.config.js

can_use.md

*.tsbuildinfo

dataMapper.js

# Generated Proto buffers for certain languages
**/pb

# Generate Sqlc fiels
users-service/datasource/db.go
users-service/datasource/models.go
users-service/datasource/queries.sql.go

# Certificates
*.pem
*.crt